$color1:#40ffdc;
$color2:#336ee1;
$color3:#1c3166;
$color4:#240047;
$color5:#1c0021;
$color6:#f1f1f1;


.contatoContainer{
  margin-top: 6em;
  .bannerContainer{
    background: #fff;
    height: 25em;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../images/bannerAjuda.svg");
    background-size:cover;
    flex-direction: column;
    gap: 2em;
  }
  .title{
    font-size: 4em;
    color: $color2;
  }
  .inputContato{
    width: 65%;
    font-size: 1em;
    padding: 1.4em;
    border-radius: 50px;
  }
  .contatoContent{
    padding: 5% 10% ;
    .subTitle{
      font-size: 2em;
      margin: 1em 0;
      color: $color5;
      font-weight: bold;
    }
    .localizacao{
      display: flex;
      align-items: center;
      gap: 2em;
      flex-wrap: wrap;
      iframe{
        width: 50%;
        height: 20em;
      }
      .localizacao_info{
        h2{
          font-weight: bold;
          color: $color4;
        }
        p{
          margin:1em 0 5em;
          color: $color2;
          &::before{
            content: " - ";
          }
        }
      }
    }
  }
}