$color1:#40ffdc;
$color2:#336ee1;
$color3:#1c3166;
$color4:#240047;
$color5:#1c0021;
$color6:#f1f1f1;
$color7:#189300;

.card{
  cursor: pointer;
  margin-top: 2em;
  padding: 2.5em;
  width: 15em;
  transition: all .3s;
  &:hover{
    box-shadow: 0 0 10px #ccc;
  }
  .cardImg{
    width: 100%;
  }
  .title{
    text-align: center;
    padding: 1em;
    color: $color5;
  }
  small{
    font-size: .7em;
  }
}

.valor{
  color:#189300 ;
  font-weight: bold;
}
