$color1:#40ffdc;
$color2:#336ee1;
$color3:#1c3166;
$color4:#240047;
$color5:#1c0021;
$color6:#f1f1f1;
$color7:#189300;



.card{
  cursor: pointer;
  padding: 2.5em 0;
  width: 15vw;
  .cardImg{
    width: 100%;
  }
  .title{
    text-align: center;
    padding: 1em;
  }
  small{
    font-size: .7em;
  }
}

.valor{
  color:#189300 ;
  font-weight: bold;
}
